
<!doctype html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <title>Strona Google</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="styleWyniki.css">
    <link rel="stylesheet" type="text/css" href="autocompleter.css">
    <link rel="shortcut icon" href="icon.png" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./cities.js"></script>

</head>

<body class="home">
    <div id="start" :class="{results : aktywne()}">

        <header>

            <div class="h-flex_container">

                <section class="h-flex_element linki">
                    <a class="aplikacje">Gmail</a>
                    <a class="aplikacje">Grafika</a>
                </section>
                <div class=" gorny_pasek">
                <section class="m-flex_element pasek-flex">
                    <div class="czesc">
                         <!-- Autocompleter jako osobny plik
                            <v-autocompleter :options="cities" @click="handleClick(miasto.name)" @wybierz="eventHandler($googleSearch)"></v-autocompleter> -->
                        <input class="input_wyszukaj" ref="top" v-model="googleSearch" maxlength="2048" @focus="skupienie = true" @keyup.down="dol()" @keyup.up="gora()" @keyup.enter="enter()"/>                         
                            <div class="krzyzyk">
                            <img title="Wyczyść" class="ikona_input-clear" src="iks.png"/>
                            <span class="kreska"></span>
                            </div>
                        <img class="ikona_input-keyboard" src="klawiatura.png"/>
                        <img class="ikona_input-mikrofon" src="mikro.png"/>
                        <button id="przycisk_szukaj"><img class="ikona_input" src="lupa2.png"/></button>
                    </div>
                    <div  id="wypisz_miasta" class="miasta_lista" :class="{widok : googleSearch.length > 0 /*&& skupienie*/ && filtrowaneMiasta.length>0}" >
                        <ul >
                            <li  v-for="(miasto,index) in filtrowaneMiasta" >
                                <div class="lista_elementow" :class="{klasa_skupienie:index == zaznaczenie}">
                                    <img class="ikona_input" src="lupa2.png" />
                                    <a href="#" v-html="wytluszcz(miasto)" v-on:click="wybrane(index)"><b>{{ miasto }}</b></a>  
                                </div>
                            </li>
                        </ul>
                    </div> 
                </section>
            </div>

                <section class="h-flex_element aplikacja">
                    <a class="aplikacja"><img class="aplikacja" src="przyciski.png" /></a>
                    <a class="pczycisk_login">Zaloguj się</a>
                </section>
            </div>

            <div class="nawigacja">
                <section class="odnosnik wszystko">Wszystko</section>
                <section class="odnosnik">Grafika</section>
                <section class="odnosnik">Mapy</section>
                <section class="odnosnik">Wiadomości</section>
                <section class="odnosnik">Wideo</section>
                <section class="odnosnik">Więcej</section>
                <section class="odnosnik">Ustawienia</section>
                <section class="odnosnik">Narzędzia</section>

            </div>
        </header>

        <main>


            <div class="m-flex_container">
                
                <div class="liczba_wynikow">Około 20 wyników (2,4s)</div>
                <section class="m-flex_element"><a id="google_link"><img class="googleLogo" src="logo.png" /></a></section>
                <form class="szukanie">
                    <section class="m-flex_element pasek-flex glowne" >
                        <div class="modul">
                            <img class="ikona_input" src="lupa2.png" />
                            <input class="input_wyszukiwanie" maxlength="2048" v-model="googleSearch" @focus="skupienie = true" @keyup.enter="enter()" @keyup.down="dol()" @keyup.up="gora()"/>
                            <img class="ikona_input-clear" src="clear.svg"/>
                            <img class="ikona_input-keyboard" src="klawiatura.png"/>
                            <img class="ikona_input-mikrofon" src="mikro.png"/>
                        </div>
                        <div  id="listaMiast" class="nazwy_miast" :class="{widok : googleSearch.length > 0 /*&& skupienie*/ && filtrowaneMiasta.length>0}" >
                            <ul >
                                <li  v-for="(miasto,index) in filtrowaneMiasta" >
                                    <div class="lista_elementow" :class="{klasa_skupienie:index == zaznaczenie}">
                                        <img class="ikona_input" src="lupa2.png" />
                                        <a href="#" v-html="wytluszcz(miasto)" v-on:click="wybrane(index)"><b>{{ miasto }}</b></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                    

                </form>
                <div class="m-flex_element przyciski" :class="{ukryte : googleSearch.length > 0 && skupienie && filtrowaneMiasta.length>0}">
                    <input class="przycisk jeden" type="submit" value="Szukaj w Google" />
                    <input class="przycisk" type="submit" value="Szczęśliwy traf" />
                </div>
            </div>
            <div class="lista">
                <div class="wyszukiwanie">
                    <div class="result">
                        <a class="link" href="#">https://www.formula1.com
                            F1</a>
                        <h2><a href="#">kierowcy, auta, formula 1</a></h2>
                        <p>obejrzyj na żywo dzieki transmisji live</p>
                    </div>
                
                    <div class="result">
                        <a class="link" href="#">https://www.formula1.com
                            </a>
                        <h2><a href="#">Sbinolla komentuje wystep Sainza JR</a></h2>
                        <p>P8 is not a bad place for a ferrari debut ...</p>
                    </div>
                
                    <div class="result">
                        <a class="link" href="#">https://www.formula1.com
                            formula 1</a>
                        <h2><a href="#">Get in there Lewis ...</a></h2>
                        <p>Valterri its James, hold your position</p>
                    </div>
                
                
                
                    <div class="result">
                        <a class="link" href="#">https://www.formula1.com</a>
                        <h2><a href="#">James</a></h2>
                        <p>James its Valteri ...</p>
                    </div>
                
                    <div class="result">
                        <a class="link" href="#">https://www.formula1.com</a>
                        <h2><a href="#">Redbull dominuje testy zimowe ...</a></h2>
                        <p>Są szybsi niż mercedes?...</p>
                    </div>
                
                    <div class="result">
                        <a class="link" href="#">https://www.formula1.com</a>
                        <h2><a href="#">Kłopoty, klopoty Lewis</a></h2>
                        <p>2 redbule atakuja, kto zdobędzie pole position ...</title></p>
                    </div>
                    <br>

                    <div class="help">
            
                      <h3>Podobne wyszukiwania</h3>
                        <div class="helplists">
                            <ul class="helpleft">
                                <a id="helpbar1" type="text"><img src="lupa1.webp" class="lupka" alt="Lupa Google" href="#">f1 wyscig</a>
                                <a id="helpbar2" type="text"><img src="lupa1.webp" class="lupka" alt="Lupa Google" href="#">barcelona race</a>
                                <a id="helpbar3" type="text"><img src="lupa1.webp" class="lupka" alt="Lupa Google" href="#">f2</a>
                                <a id="helpbar4" type="text"><img src="lupa1.webp" class="lupka" alt="Lupa Google" href="#">f3 support</a>
                            </ul>
                            <ul class="helpright">
                                <a id="helpbar5" type="text"><img src="lupa1.webp" class="lupka" alt="Lupa Google" href="#">f1 2021 rules</a>
                                <a id="helpbar6" type="text"><img src="lupa1.webp" class="lupka" alt="Lupa Google" href="#">2022 changes</a>
                                <a id="helpbar7" type="text"><img src="lupa1.webp" class="lupka" alt="Lupa Google" href="#">kto wygral 2020</a>
                                <a id="helpbar8" type="text"><img src="lupa1.webp" class="lupka" alt="Lupa Google" href="#">f1 w pl?</a>
                            </ul>
                        </div>
            
                    </div>
    
                        <br><br>
    
                        <table class="googlelist">
                          <tr>
                            <td><span class="blue">G</span></td>
                            <td><span class="red">o</span></td>
                            <td><span class="yellow">o</span></td>
                            <td><span class="yellow">o</span></td>
                            <td><span class="yellow">o</span></td>
                            <td><span class="yellow">o</span></td>
                            <td><span class="yellow">o</span></td>
                            <td><span class="yellow">o</span></td>
                            <td><span class="yellow">o</span></td>
                            <td><span class="yellow">o</span></td>
                            <td><span class="yellow">o</span></td>
                            <td><span class="blue">g</span></td>
                            <td><span class="green">l</span></td>
                            <td><span class="red">e</span></td>
                            <td rowspan="2" style="width: 10px;"></td>
                            <td><span class="blue arrow">></span></td>
                          </tr>
              
                          <tr>
                            <td class="numer"></td>
                            <td class="numer">1</td>
                            <td class="numer">2</td>
                            <td class="numer">3</td>
                            <td class="numer">4</td>
                            <td class="numer">5</td>
                            <td class="numer">6</td>
                            <td class="numer">7</td>
                            <td class="numer">8</td>
                            <td class="numer">9</td>
                            <td class="numer">10</td>
                            <td colspan="3"></td>
                            <td class="numer">Następna</td>
                          </tr>
              
                        </table>
    
            </main>
    
            <footer class="dol">
                <div class="dolny_pasek">
                    <div class="panstwo">Polska<span class="lokacja"><span class="kropka"></span><b> 35-310 Kraków</b> - Z Twojego adresu internetowego - <a href="#">Użyj dokładnej lokalizacji</a> - <a href="#">Dowiedz się więcej</a></span></div>
                </div>
    
                <div class="footer_container">
                    <section class="f_flex_element sekcja pierwsza">
                        <a class="sekcja-item link odstep">O nas</a>
                        <a class="sekcja-item link odstep">Reklamuj się</a>
                        <a class="sekcja-item link odstep">Dla firm</a>
                        <a class="sekcja-item link odstep">Jak działa wyszukiwania</a>
                    </section>
                    <section class="f_flex_element sekcja druga">
                        <a class="sekcja-item link">Pomoc</a>
                        <a class="sekcja-item link">Prywatność</a>
                        <a class="sekcja-item link">Warunki</a>
                        </div>
                    </section>
                </div>
            </footer>
        </div>
    </body>
    
    <script>
        var app = new Vue(
            {
            el: '#start',
            data: {
                googleSearch: '',
                searchedInput:'',
                filtrowaneMiasta:"",
                cities: window.cities,
                filtrowane_miasta_aktualizacja:true,
                skupienie: false,
                zmiana: false,
                zaznaczenie: -1,
            },
            watch: 
            {
                zaznaczenie: function () 
                {
                this.filtrowane_miasta_aktualizacja=false;
                this.googleSearch=this.filtrowaneMiasta[this.zaznaczenie].name;
                },
                googleSearch: function()
                {
                    this.filtrowane_miasta_utworz(this.filtrowane_miasta_aktualizacja);
                    this.filtrowane_miasta_aktualizacja=true;
                    console.log(this.filtrowaneMiasta);
                    if(this.zaznaczenie==-1)
                    {
                        this.searchedInput=this.googleSearch;      
                    }
                }
            },
            methods:
            {
                enter() 
                {
                    this.filtrowaneMiasta=true;
                    this.zmiana= true;
                    this.zaznaczenie=-1;
                    this.skupienie = false;
                 },
                dol()
                {
                    if(this.zaznaczenie<this.filtrowaneMiasta.length-1)
                    {
                        this.zaznaczenie+=1; 
                    }
                    else if(this.zaznaczenie==this.filtrowaneMiasta.length-1)
                    {
                        this.zaznaczenie=0; 
                    }
                 },
                 gora()
                 {
                    if(this.zaznaczenie>0)
                    {
                        this.zaznaczenie-=1; 
                    }
                    else if(this.zaznaczenie==0)
                    {
                        this.zaznaczenie=this.filtrowaneMiasta.length-1;
                    }
                 },
                 wybrane(i)
                 {
                    this.googleSearch=this.filtrowaneMiasta[i].name;
                    this.enter();
                 },
                 aktywne()
                 {
                    if(this.googleSearch.length==0){
                        this.zmiana=false;
                    }
                    return this.zmiana;
                 },
                 filtrowane_miasta_utworz(prawda)
                 {
                     if(prawda)
                     {
                        let result=this.cities.filter(miasto => miasto.name.includes(this.googleSearch));
                        if(result.length>10)
                        {
                            this.filtrowaneMiasta= result.slice(1, 11);
                        }
                        else{
                            this.filtrowaneMiasta= result;
                        }
                        this.zaznaczenie=-1;
                     }   
                 },
                 wytluszcz(miasto)
                {
                    let re = new RegExp(this.searchedInput,"gi");
                    let bolden="<b>"+miasto.name.replace(re, match=>
                        {
                         return "<span class='zwykly'>"+ match+"</span>";
                        })+"</b>";
                    console.log(bolden);
                    return bolden;
                }      
            }
        })
    </script>
    
    <!-- Autocompleter dla osobnego pliku (próba)
        var app = new Vue({
        el: '#start',
        data: {
     
          googleSearch: '',
          searchedInput:'',
          filtrowaneMiasta:"",
          cities: window.cities,
          filtrowane_miasta_aktualizacja:true,
          skupienie: false,
          zmiana: false,
          zaznaczenie: -1,
        },
        methods: {
          eventHandler: function (id) {
              console.log(id)
              console.log("Here")
            },
        },
        aktywne()
                 {
                    if(this.googleSearch.length==0){
                        this.zmiana=false;
                    }
                    return this.zmiana;
                 },
             
      }); -->
    
    </html>